{% extends "base.html" %}
{% block content %}
{% if user.profile.role == "College" %}
{% for profile in profiles %}

<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ profile.image.url }}">
    <div class="media-body">

        <h2 class="article-title">{{ profile.user.first_name }} {{ profile.user.last_name }}</h2>
        <form>
            <button class="btn btn-outline-info" type="submit"
                    formaction="{% url 'user-detail-verify' profile.user.id %}">View Details
            </button>
        </form>
    </div>

</article>
{% endfor %}

{% if profiles.has_other_pages %}

{% if profiles.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ profiles.previous_page_number }}">Previous</a>
{% endif %}

{% for num in profiles.paginator.page_range %}
{% if profiles.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > profiles.number|add:'-3' and num < profiles.number|add:'3' %}
<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}

{% endif %}

{% else %}
<h2 class="article-title">You are not authorized to view this page.</h2>
{% endif %}

{% endblock content %}